[submodule "16s_la/rossmann_lstm"]
	path = 16s_la/rossmann_lstm
	url = git@github.com:minhnh/rossmann_lstm.git
[submodule "16w_see/evgenia"]
	path = 16w_see/shared
	url = https://github.com/elhele/SEE.git
[submodule "16w_see/SEE_BachHa_MinhNguyen_270916"]
	path = 16w_see/overleaf
	url = https://git.overleaf.com/6447229kfskdr
