[submodule "16s_la/rossmann_lstm"]
	path = 16s_la/rossmann_lstm
	url = git@github.com:minhnh/rossmann_lstm.git
[submodule "16w_see/evgenia"]
	path = 16w_see/shared
	url = https://github.com/elhele/SEE.git
[submodule "16w_see/SEE_BachHa_MinhNguyen_270916"]
	path = 16w_see/overleaf
	url = https://github.com/minhnh/16w_see.git
[submodule "16w_nn/padmaja"]
	path = 16w_nn/padmaja
	url = https://github.com/padmaja-kulkarni/NN.git
[submodule "17s_ecta/src"]
	path = 17s_ecta/src
	url = https://github.com/minhnh/evolutionary_algorithm_course.git
[submodule "RnD2"]
	path = RnD2
	url = https://github.com/minhnh/mas_grasp_learning.git
