# Python
build/
__pycache__/
.ipynb_checkpoints/
.idea/
# cmake
*/build/CMakeCache.txt
*/build/CMakeFiles/
*/build/Makefile
*/build/cmake_install.cmake
*/build/bin
*~
# tex files
*.nav
*.tgz
*.snm
*.toc
*.aux
*.bbl
*.blg
*.log
*.out
*.dvi
*.pdf
*.gz
*.html
*.zip
*.bak
*.bcf
*.run.xml

# Java eclipse
.metadata/
.classpath
.project
.recommenders/
.settings/
# C, C++
bin/
test/
META-INF/
samples/
*.ser
